body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f0f0f0;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #27374D;  
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.choices .choice {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.choices .choice:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.choice-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    color: #000;
    border-radius: 5px;
    border: 1px solid #007bff;
    margin-bottom: 20px;
    font-family: 'Cairo', sans-serif;
    transition: border-color 0.1s ease;
}

.choice-dropdown:focus {
    border-color: #0056b3;
}

.answer {
    text-align: center;
    font-size: 1.2em;
    color: #DAFFFB;
}

#start-over {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #176B87;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

#start-over:hover {
    background-color: #176B87;
}

.question {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #444;
    border-radius: 5px;
}

#bank-link {
    font-size: 1.5em;
    color: #007bff;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
}

body {
    /* existing styles... */
    font-size: 18px;
}

    .content {
        width: 90%;
        padding: 10px;
    }
}

/* Small phones */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    
    .content {
        width: 100%;
        padding: 5px;
    }

    .choices .choice {
        padding: 5px;
    }

    /* Other styles... */
}
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
    
    .content {
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    .question {
        font-size: 14px;
    }

    /* Add other styles as needed... */
}
